* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+JP:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300&family=Roboto&family=Yeseva+One&display=swap");

:root {
  --main-color-y: #ffbb00;
  --gray-color-g: #7b7b7b;
  --sub-color-o: #ff5f00;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 38px 60px 0;
  position: relative;
}

.title {
  display: flex;

  justify-content: space-between;
}

.login {
  display: flex;
}

.login div:first-child {
  margin-right: 30px;
}

.login div {
  color: var(--gray-color-g);
  cursor: pointer;
}

.logo {
  text-align: center;
}

.logo div:first-child {
  font-family: graphite-std, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 6.25rem;
  color: var(--main-color-y);
}

.logo div :last-child {
}

.search {
  text-align: right;
}
.search div {
  color: var(--gray-color-g);
  cursor: pointer;
}

.navbar {
  width: 525px;
  margin: 40px auto;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 17px;
}

.login_form {
  width: 500px;
  height: 500px;
  box-shadow: 0 3px 7px #7b7b7b;
  margin: 110px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.form_container {
  
}

.form_btn {
  display: inline-block;
}

.form_btn span {
  margin-top: 40px;
  font-size: 25px;
  cursor: pointer;
  
  width: 100px;
  display: inline-block;
}

.form_btn span:first-child {
  margin-right: 70px;
}

.login_form form {
  max-width: 300px;
  position: absolute;
  margin-top: 110px;
  margin-left: 100px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.btn {
  width: 300px;
  height: 40px;
  background: var(--main-color-y);
  border-radius: 75px;
  border: none;
  outline: none;
  margin:40px auto 10px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: var(--sub-color-o);
}

#loginForm {
  left: -500px;
}

#signForm {
 
}

form a {
  font-size: 15px;
  color: #7B7B7B;  
}

#line {
  width: 100px;
  height: 5px;
  border: none;
  border-radius: 75px;
  background: var(--main-color-y);
  margin-top: 8px;
  transform: translateX(170px);
  transition: transform 1s;
}


/*
.userid {
  width: 300px;
  height: 40px;
  border: 1px solid #707070;
  color: #707070;
  font-size: 20px;
  margin: 111px auto 0;
}

.password {
  width: 300px;
  height: 40px;
  border: 1px solid #707070;
  color: #707070;
  font-size: 20px;
  margin: 20px auto 0;
}

.login_btn {
  width: 300px;
  height: 40px;
  background: var(--main-color-y);
  border-radius: 75px;
  margin: 40px auto 0;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.login_btn:hover {
  background: var(--sub-color-o);
}

.login_support {
  margin: 10px auto;
  color: #707070;
  text-align: center;
  cursor: pointer;
}
